<div class="col-xs-12">
    <h3>{{myTitle}}</h3>
    <h1>Contoso Web Developer Conference</h1>
    <h2>Finding elements using jQuery</h2>
    <div>This session is about identifying elements using jQuery methods and selectors.</div>
    <h3>Rate this session</h3>
    <div id="rating-container">
        <div class="rating-circle"></div>
        <div class="rating-circle"></div>
        <div class="rating-circle"></div>
        <div class="rating-circle"></div>
        <div class="rating-circle"></div>
    </div>
</div>
<div class="myMargin"></div>