<div class="col-xs-12">
    <h1>{{$ctrl.myTitle}}</h1>
</div>


<h2>Finding elements using jQuery</h2>
<div>This session is about identifying elements using jQuery methods and selectors.</div>
<h3>Rate this session</h3>
<div id="rating-container1" max-value="5"></div>

<div>
    <label for="max-value">Enter max value:</label>
    <input type="text" id="max-value" />
    <button type="button" id="update-max-value">Update max value</button>
</div>
<div class="col-xs-12">
    <button class="btn btn-info btn-lg" id="execute">Save rating</button>
    <div class="col-xs-12" id="output">
    </div>
</div>

<div class="myMargin"></div>