<div ng-controller="Contact2Ctrl as ctrl">
    <h1>Some title</h1>
    <form novalidate class="myform2">
        <div>

            <div class="form-group row">
                <div class="col-md-2">
                    <label for="fName">First Name</label>
                </div>
                <div class="col-md-8 offset-md-1">
                    <input type="text" class="form-control" ng-model="ctrl.itemFirstName" placeholder="Enter first name" ng-required="true">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="lName">Last Name</label>
                </div>
                <div class="col-md-8 offset-md-1">
                    <input type="text" class="form-control" ng-model="ctrl.itemLastName" placeholder="Enter last name" ng-required="true">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="email">Email</label>
                </div>
                <div class="col-md-8 offset-md-1">
                    <input type="email" class="form-control" ng-model="ctrl.itemEmail" placeholder="Enter email" ng-required="true">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="phone">Phone</label>
                </div>
                <div class="col-md-8 offset-md-1">
                    <input type="number" ng-minlength="10" ng-maxlength="10" class="form-control" ng-model="ctrl.itemPhone" placeholder="Enter phone number" ng-required="true"> </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label for="country">Country</label>
                </div>
                <div class="col-md-8 offset-md-1">
                    <input type="text" class="form-control" ng-model="ctrl.itemCountry" placeholder="Enter your country" ng-required="true">
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-3 col-md-8">
                    <button ng-click="ctrl.addItem();" class="btn btn-warning">Add Person</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-6">
                    <h6>{{ctrl.lastRemoved}}</h6>
                </div>

            </div>


    </form>
    <contact-add2 items=ctrl.items title="{{ctrl.title}}" titleLength="{{ctrl.titlelength}}" remove="ctrl.removeItem(index)">
    </contact-add2>
    </div>